---
permalink: "/waivers/"
---

<script src="/assets/js/uswds-init.min.js"></script>
<link rel="stylesheet" href="/assets/css/styles.css" />

<div class="grid-container">
<h1>Waivers</h1>
<div class="usa-accordion">
{% for w in waivers %}

  <h4 class="usa-accordion__heading">
    <button
      class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="{{w._id}}"
    >
      {{w.data.procurementTitle}}
    </button>
  </h4>
  <div id="{{w._id}}" class="usa-accordion__content usa-prose">
    <p>{{w.data.summaryOfProcurement}}</p>
    <p><a href="/waivers/{{w._id}}/">Read more</a></p>
  </div>
{% endfor %}
</div>
</div>
<script src="/assets/js/uswds.min.js"></script>
